@import "tailwindcss";

@theme {
  --font-main: "Space Grotesk", Sans;

  --color-primary: var(--color-slate-700);
  --color-bg: var(--color-slate-200);
}

@layer components {
  .icon-btn {
    @apply cursor-pointer p-2 rounded-full hover:bg-primary/10;
  }

  .btn-category {
    @apply cursor-pointer text-sm text-primary/50 bg-bg/60 px-2 py-0.5 rounded-lg hover:bg-primary/10;
    @apply flex items-center gap-1;
  }

  .btn-category.active {
    @apply bg-blue-200 text-blue-800/50 hover:bg-blue-300/70;
  }

  .filter-btn {
    @apply cursor-pointer px-2 py-0.5 hover:bg-primary/10 flex items-center gap-1;
  }

  .filter-btn.active {
    @apply bg-blue-200 text-blue-800/50 hover:bg-blue-300/70;
  }

  .transition-grid-rows {
    @apply transition-[grid-template-rows] duration-300;
  }

  .path {
    @apply cursor-pointer hover:text-primary;
  }

  .path-arrow {
    @apply cursor-default;
  }

  .divider {
    @apply w-full h-[1px] bg-primary/10 my-3;
  }
}

html {
  scrollbar-gutter: stable;
}
